<!DOCTYPE html>
<html>
	<head>
		<title>Choose An Editor</title>
		<%- include("../components/root/seo.html"); %>
		<%- include("../components/root/globals.html"); %>
		<link rel="stylesheet" href="/css/home/components/header.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
		<link rel='stylesheet' href='/css/globals.css'>
		<!-- <link rel='stylesheet' href='/css/pages/editor.css'> -->
		<link rel='stylesheet' href='/css/pages/charge.css'>
	</head>

	<body>
		<%- include("../components/home/header.html"); %>
		<!-- <img id="backg" src="https://thehill.com/sites/default/files/ca_videogame_82820istock.jpg">

		<center id="title-bar">
			<h1 style="opacity: 100%; color: black; z-index: 1000;">Charge⚡️</h1>
		</center> -->
		
		

		<script src='/js/home/editor.js'></script>
	</body>
</html>