<!DOCTYPE html>
<html>
	<head>
		<title>Choose An Editor</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
		<link rel='stylesheet' href='/css/globals.css'>
		<link rel='stylesheet' href='/css/pages/editor.css'>
	</head>

	<body>

		
		<div id='intro'>
			<div class='card'>
				Game Creator
				<i class="fas fa-gamepad" id='game-card'></i>
			</div>
			<div class='card'>
				Music Maker
				<i class="fas fa-record-vinyl" id='music-card'></i>
			</div>
		</div>
		

		<script src='/js/home/editor.js'></script>
	</body>
</html>