.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.direction-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.logo {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  /* background: #ccc; */
}
.logo img {
	height: 100%;
  width: 100%;
}

.divider {
  border: none;
  border-top: 0.1rem solid var(--grey);
  border-radius: 1rem;
  width: 100%;
  margin: 0;
}

.alert {
  opacity: 1;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.25rem;
  color: #fff;
  background-color: var(--grey);
  user-select: none;
  pointer-events: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  max-width: calc(100vw - 1rem);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  transition: opacity 0.2s, transform 0.2s;
}

input, 
button {
  outline: none;
  border-radius: 0.5rem;
  border: 0.1rem solid #fff;
  padding: 0.75rem 1.5rem;
	font-size: 1.25rem;
  background: #fff;
}

button {
  cursor: pointer;
}

input::placeholder {
  color: var(--light-grey);
}

.alert-in {
  animation: 0.2s alert-in linear forwards; 
}

@keyframes alert-in {
  0% {
    transform: translate(-50%, calc(100% + 1rem)) rotate3d(1, 0, 0, 70deg);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}