<nav>
	<a href='/'><img alt='logo'></img></a>
	<div class="links">
		<div id="color-mode" onclick="switchMode()"></div>

		<span id="header-buttons">
			<a class="nav-button" id="nav-user" href='/login'>Log in / Sign up</a>
		</span>

		<nav tabindex="0" id="hamburger" class='hide'>
			<i class="fas fa-bars"></i>
			<div id="bar">
				<a class="button" id="completed" href='/log.html'>Log</a>
				<a class="button" id="competitions" href='/competitions.html'>Competitions</a>
				<a class="button" id="resources" href='/resources.html'>Resources</a>
				<a class="button" id="codehs" target="_blank" href='https://repl.it/~'>Repl.it</a>
			</div>
		</nav>
	</div>
</nav>